/* General */
* {
    font-family: 'Montserrat', sans-serif;
}
  

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}
  
header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}
  
.row {
    margin: 0;
}
  
.container-fluid {
    padding: 0;
}
  
.btn-primary {
    background-color: #45743D;
    border: none;
}
  
.btn-primary:hover {
    background-color: #30532A;
    border: none;
}

.MsgSucesso{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}
  
/* navbar */
#navbar img {
    width: 115px;
    height: auto !important;
    margin-right: auto;
}

.nav-logo{
    width: 100%;
    height: 100%;
}


  
#navbar {
    text-align: end;
    justify-content: space-between;
    padding: 5px 20px;
}
  
#navbar a:hover {
    color: #F2A340;
}
  
/* Search Container */
#search-container {
    background-size: cover;
    background-position: center;
    min-height: 300px;
    padding: 150px 50px;
    text-align: center;
}
  
#search-container h1 {
    color: #45743D;
    margin-bottom: 30px;
    font-weight: 900;
}

.search-inner-container{
    max-width: 900px;
}
  
#search-container form {
    width: 90%;
    margin: 0 auto;
}
  
/* Restaurants list */
#restaurants-container {
    padding: 50px;
    padding-bottom: 12px;
}
  
#restaurants-container h2 {
    margin-bottom: 10px;
}
  
#restaurants-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}
  
#cards-container {
    display: flex;
}
#restaurants-container .card {
    flex: 1 1 24%;
    max-width: 288px;
    min-width: 288px;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
    position: relative;
}

.card-img-container {
    position: relative;
    width: 100%;
}

.card-img-top {
    padding: 1rem;
    border-radius: 26px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.logo-container {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
    justify-items: start;
}

.card-body form{
    width: 100%;
}

.card-title {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-participants, .card-price {
    font-size: 1rem;
    color: #6c757d;
}

.card-price {
    font-weight: 400;
}

  
.card .card-date {
    font-size: 12px;
    color: #CCC;
}
  
.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
}
  
.card-participants {
    font-size: 14px;
    color: #757575;
}

/* Restaurant create page*/
#restaurant-create-container{
    padding: 30px
}

#restaurant-create-container label{
    font-weight: bold;
}

#restaurant-create-container input,
#restaurant-create-container select,
#restaurant-create-container textarea{
    font-size: 12px;
}

/* restaurant page */
#image-container,
#info-container {
  margin-top: 30px;
}

#image-container img {
  border-radius: 10px;
}

#info-container h1 {
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
}

#info-container ion-icon {
  font-size: 20px;
  color: #F2A340;
  margin-right: 5px;
}

#info-container #restaurant-submit {
  margin: 20px 0;
}

#pagamentos-list {
    list-style: none;
    padding-left: 0;
}
  
#pagamentos-list li {
    display: flex;
}

#description-container{
    margin-top: 20px;
}

.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}
  
.dashboard-restaurants-container th {
    width: 25%;
}

.dashboard-restaurants-container form{
    display: inline-block;
}

/* footer */
footer {
    text-align: center;
    background-color: #2e4d29;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
footer p {
    margin-bottom: 0;
}


/* Edit page */
.img-preview {
    width: 100px;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

/* FILTER */

.componente-link {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: #2f4131;
}

.componente-link:hover {
    color: #151d16;
    text-decoration: none; 
    background-color: #8dbe9328;
}

.material-icons {
    vertical-align: middle;
    font-size: 1.5rem;
    color: #2f4131;
}

/* FILTROS */
.filter{
    justify-content: center;
}

/* SEARCH */
.form-control{
    height: 54px;
}

.btn-form-control{
    height: 54px;
}


.vacancy_details_img{
    background-color: #45743D;
    border-radius: 1.5rem;
    overflow: hidden;
    max-height: 410px;
}

.vacancy_details_img img{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.vacancy_details_title{
    font-weight: bold;
}

.vacancy_details_description {
    text-align: justify;
    line-height: 1.6; /* Ajuste o valor conforme necessário */
}

#search-container-details{
    background-size: cover;
    background-position: center;
    padding: 30px;
    text-align: center;
    justify-items: center;
}


.vacancy_total{
    font-size: 14px;
    color: #155724!important;
}


.primary-color{
    color: #155724!important;
}

.fw-bold{
    font-weight: 600;
}

.aside_detail{
    height: 470px;
    position: sticky;
    top: 30px;
}

