{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tela inicial</title>

    <!-- Importando a fonte Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Material Icons do Google -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons&display=swap" rel="stylesheet">

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
        {% include "components/navbar.html" %}
    </header>

    <div id="search-container" class="col-md-12">
        <h1>Encontre os melhores restaurantes!</h1>
        {% include "components/search.html" %}
        <div id="filtro-container" class="filter row m-4">
            {% for filtro in filtros %}
                {% include "components/filter.html" with filter=filtro %}
            {% endfor %}
        </div>
        <div id="restaurants-container" class="col-md-12">
            {% if restaurantes|length == 0 and flg_teve_busca %}
                <p>
                    Não foram encontrados resultados para o filtro aplicado! 
                    <br>
                    <a href="/">Ver todos os restaurantes</a>
                </p>
            
            {% elif restaurantes|length == 0 %}
                <p>Não há restaurantes cadastrados no site</p>
            
            {% else %}
                {% if flg_teve_busca %}
                    <h3>Resultados encontrados:</h3>
                {% else %}
                    <h3>Restaurantes</h3>
                {% endif %}

                <div id="cards-container" class="row">
                    {% for restaurante in restaurantes %}
                        {% include "components/card.html" %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <footer>
        <p>Trabalho Django Reservas em Restaurantes</p>
    </footer>
    
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>