{% load static %}

<div class="card custom-card col-md-3">
    <div class="card-img-container">
        {% if restaurante.image %}
            <img src="{{ restaurante.image.url }}" alt="{{ restaurante.name }}" class="card-img-top">
        {% else %}
            <img src="{% static 'img/restaurante_example.png' %}" alt="Imagem do card" class="card-img-top" />
        {% endif %}
        
        <div class="logo-container">
            <img src="{% static 'img/image.png' %}" alt="Logo" class="logo-img">
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ restaurante.name }}</h5>
        <p class="card-price">R$ {{ restaurante.price_reservation }} /dia</p>
        <a href="vagas/ver_vagas/{{ restaurante.id }}" class="btn btn-primary">Ver vagas</a>
    </div>
</div>
