{% load static %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbar">
        <!-- Logo alinhada à esquerda -->
        <ul class="navbar-nav">
            <li class="nav-item nav-logo">
                <a href="/" class="nav-link">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" style="height: 40px;">
                </a>
            </li>
        </ul>
        
        <!-- Espaço flexível entre logo e itens -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> 
                <a href="/" class="nav-link">Restaurantes</a> 
            </li>
            
            {% if user.is_authenticated %}
                <li class="nav-item"> 
                    <a href="{% url 'ver_minhas_reservas' %}" class="nav-link">Minhas reservas</a> 
                </li>
                <li class="nav-item"> 
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a> 
                </li>
            {% else %}
                <li class="nav-item"> 
                    <a href="{% url 'login' %}" class="nav-link">Entrar</a> 
                </li>
                <li class="nav-item"> 
                    <a href="{% url 'cadastro' %}" class="nav-link">Cadastrar</a> 
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
