<form action="/" method="GET" class="d-flex align-items-center p-0" >
    <!-- Destino -->
    <div class="flex-grow-1 position-relative">
        <input type="text" id="destino" name="destino" class="form-control" placeholder="Buscar cidade" style="border-radius: 15px 0 0 15px;"> <!-- Lado esquerdo arredondado -->
        <div class="position-absolute top-0 bottom-0 start-100 translate-middle-y"></div> <!-- Divider -->
    </div>
    
    <!-- Check-in -->
    <div class="flex-grow-1 position-relative">
        <input type="text" id="destino" name="destino" class="form-control" placeholder="Buscar comida" style="border-radius: 0;"> <!-- Lado esquerdo arredondado -->
        <div class="position-absolute top-0 bottom-0 start-100 translate-middle-y"></div> <!-- Divider -->
    </div>
    
    <!-- Check-out -->
    <div class="flex-grow-1 position-relative">
        <input type="date" id="checkout" name="checkout" class="form-control" placeholder="Check-out" style="border-radius: 0;">
    </div>
    
    <!-- Botão de Buscar -->
    <button type="submit" class="btn btn-primary btn-form-control" style="border-radius: 0 15px 15px 0;">Buscar</button> <!-- Lado direito arredondado -->
</form>
