{% load static %}

<div class="container my-5" data-param="{{ restaurante.param }}">
    <div class="row">
        <!-- Principal Content (Imagem + Descrição) -->
        <div class="col-md-8">
            <div class="vacancy_details_img position-relative mb-4">
                <!-- Imagem Principal -->
                {% if restaurante.image %}
                    <img src="{{ restaurante.image.url }}" alt="{{ restaurante.name }}" class="img-fluid" style="height: auto;">
                {% else %}
                    <img src="{% static 'img/restaurante_example.png' %}" alt="Imagem do card" class="img-fluid" style="height: auto;">
                {% endif %}
            </div>

            <div class="content">
                <!-- Título e Avaliação -->
                <h5 class="vacancy_details_title fw-bold">{{ restaurante.name }}</h5>
                <p class="card-text">{{ restaurante.address }} <i class="bi bi-star-fill" style="color: gold;"></i></p>

                <!-- Descrição -->
                <p class="vacancy_details_description card-text text-muted">
                    {% if restaurante.description %}
                        {{restaurante.description}}
                    {% else %}
                        --
                    {% endif %}
                </p>

            </div>
        </div>

        <!-- Aside com Calendário -->
        <div class="col-md-4 aside_detail">
            <aside class="bg-light p-4">
                <form method="POST" action="/vagas/reservar/{{ restaurante.id }}/">
                    {% csrf_token %}
                    <input type="hidden" name="restaurante" value="{{ restaurante.id }}">

                    <h5 class="fw-bold">R$ 54,00/Dia</h5>
                    <div class="row d-flex justify-content-between primary-color ">
                        <p>Abertura: {{restaurante.opening_time}}</p>
                        <p>Fechamento: {{restaurante.closing_time}}</p>
                    </div>

                    <div class="calendar">
                        <!-- Calendário Bootstrap 5 -->
                        <input type="date" class="form-control"  id="date_reservation" name="date_reservation" min='{{ today }}' required/>
                    </div>

                    <div class="mt-5">
                        <!-- Campo para quantidade de vagas -->
                        <label for="vagas" class="form-label">Quantidade de Vagas</label>
                        <p class="vacancy_total fs-6">Vagas disponíveis: {{vagas_disponiveis}}</p>

                        <input type="number" class="form-control" id="number_reservations" name="number_reservations" min="1" max="{{vagas_disponiveis}}"
                            placeholder="Digite a quantidade de vagas" required />
                    </div>

                    <!-- Botão de submit -->
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary w-100">Reservar</button>
                    </div>
                </form>

            </aside>
        </div>

    </div>
</div>