{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <title>Minhas Reservas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">

    </head>

    <style>
         h1{
            padding-top: 100px;
            color: #45743D;
            font-weight: 900;
            text-align: center;
        }

        h3{
            color: #45743D;
            text-align: start;
        }

        #reservation{
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
    </style>

    <header>
        {% include "components/navbar.html" with user=user %}
    </header>

    <body>
        <h1>Planejar novas reservas</h1>

        <div id="search-container-details">
            {% include "components/search.html" %}
        </div>

        <div id="reservation" class="container my-5">
            {% if not reservas_ativas and not reservas_passadas %}
                <p>Você ainda não fez nenhuma reserva.</p>
            {% else %}
                <div>
                    {% if reservas_ativas %}
                        <h3>Reservas Ativas</h3>
                            {% for reservation in reservas_ativas %}
                                {% include "components/reservations.html" %}
                            {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-5">
                    {% if reservas_passadas %}
                        <h3>Reservas Passadas</h3>
                        {% for reservation in reservas_ativas %}
                            {% include "components/reservations.html" %}
                        {% endfor %}    
                    {% endif %}
                </div>        
            {% endif %}
        </div>
        <br><br>
        
        {% comment %}
            {% if cliente.is_authenticated %}
                <h2>Dados de quem está reservando</h2>
                <h3>Quem é: {{cliente.first_name}}</h3>
                <h3>Email de Contato: {{cliente.email}}</h3>
            {% else %}
                <p>Você não está logado. <a href="/auth/login/">Faça login</a></p>
            {% endif %}
        {% endcomment %}
    
        {% include "components/footer.html"%}
    
    </body>
</html>