{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <title>Visualizar Vagas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">

    </head>

    <header>
        {% include "components/navbar.html" with user=user %}
    </header>

    <style>
        h1{
            padding-top: 100px;
            color: #45743D;
            font-weight: 900;
            text-align: center;
        }
    </style>

    <body>
        <h1>Buscar por outros restaurantes</h1>
        <div id="search-container-details">
            {% include "components/search.html" %}
        </div>

        {% include "components/vacancy_details.html" with restaurante=restaurante %}


        <br><br>

        {% comment %}
            {% if cliente.is_authenticated %}
                <h2>Dados de quem está reservando</h2>
                <h3>Quem é: {{cliente.first_name}}</h3>
                <h3>Email de Contato: {{cliente.email}}</h3>
            {% else %}
                <p>Você não está logado. <a href="/auth/login/">Faça login</a></p>
            {% endif %}
        {% endcomment %}
    
        {% include "components/footer.html"%}
    
    </body>
</html>


